databases:
  - name: online_classroom_db
    databaseName: classroom_db
    user: classroom_user
    plan: free

services:
  - type: web
    name: online_classroom_backend
    runtime: docker
    plan: free
    dockerContext: .
    dockerfilePath: Dockerfile
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: DATABASE_URL
        fromDatabase:
          name: online_classroom_db
          property: connectionString
      - key: ALLOWED_HOSTS
        value: "*"
